@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Newsreader:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(2.jpg ) no-repeat center center fixed;
    background-size: cover;
}

.container{
    color: black;
    position: absolute;
    top:15%;
    left:43%;
}

.container h1{
    font-family: 'Newsreader', serif;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 13px;
    padding: 13px 0;
}
.box{
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid purple;
}
.box input{
    font-family: 'Dancing Script', cursive;
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;

}
box i {
    width: 25px;
    text-align: center;
}

.btn{
    font-family: 'Dancing Script', cursive;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 15px;
    background: none;
    font-weight: bold;
}
.btn:hover{
    opacity: 0.8;
    color: purple;
    background:black;
}